<nav
  class="dark:bg-[#323946] bg-gray-200 shadow-xl rounded-full fixed w-[90%] mx-auto z-20 top-8 start-8 end-8 border border-main-300">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

    <!-- Logo -->
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-3xl text-main-500 font-bold whitespace-nowrap">Portfolio</span>
    </a>

    <!-- Dark mode + Hamburger -->
    <div class="flex lg:order-2 space-x-3 lg:space-x-0 rtl:space-x-reverse">
      <label class="inline-flex items-center cursor-pointer ps-4">
        <span class="select-none ms-3 text-sm font-medium hidden dark:inline pe-1.5">
          <i class="fa-regular fa-sun fa-xl text-main-400"></i>
        </span>
        <span class="select-none ms-3 text-sm font-medium dark:hidden pe-1.5">
          <i class="fa-regular fa-moon fa-xl text-main-4"></i>
        </span>
        <input type="checkbox" class="sr-only peer" checked (click)="toggleDark()">
      </label>

      <!-- Hamburger Button -->
      <button type="button" (click)="toggleMenu()"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base lg:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary">
        <span class="sr-only">Open main menu</span>

        @if (isMenuOpen) {
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        } @else {
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
        </svg>
        }
      </button>
    </div>

    <!-- Nav Links -->
    <div class="w-full lg:flex lg:w-auto lg:order-1
                absolute lg:relative top-full left-0 right-0 mt-0.5 lg:mt-0" [class.hidden]="!isMenuOpen"
      [class.block]="isMenuOpen" [class.lg:flex]="true">
      <ul class="flex flex-col p-4 lg:p-0 mt-4 lg:mt-0 font-medium
                 border border-default rounded-base
                 bg-white lg:bg-transparent dark:lg:bg-transparent dark:bg-gray-800
                 lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:border-0">

        @for (item of nav_arr; track $index) {
        <li>
          <a [routerLink]="item.route" routerLinkActive="route-active" class="item-nav" (click)="closeMenu()">
            <span class="mr-2"><i [class]="item.icon"></i></span>
            {{ item.label }}
          </a>
        </li>
        }

      </ul>
    </div>

  </div>
</nav>