<section class="min-h-screen pb-10 pt-32 flex items-center overflow-hidden
                bg-gray-100 dark:bg-[#1F262F] transition-colors duration-500">


  <div class="container mx-auto">
    <div class="text-center">

      <h2 class="text-3xl font-bold uppercase leading-relaxed change
               text-main-600 dark:text-main-400" data-aos="fade-right" data-aos-delay="200">
        About Me
      </h2>

      <h3 class=" text-xl  md:text-3xl lg:text-4xl font-bold leading-relaxed
               text-gray-900 dark:text-white" data-aos="fade-right-up" data-aos-delay="600">
        Who is
        <span class="text-main-600 dark:text-main-400">
          Aya Adel
        </span> ?
      </h3>

      <p class=" text-lg md:text-xl lg:text-2xl w-full md:w-[95%] lg:w-[80%] mx-auto leading-relaxed px-4
               text-gray-700 dark:text-gray-300" data-aos="fade-down-left" data-aos-delay="1100">
        I'm Frontend Developer (Angular) with extensive experience in building
        responsive single-page applications (SPA) using HTML, CSS, JavaScript,
        NgRx, and TypeScript. Proficient in Angular architecture including routing,
        guards, services, and reusable components. Strong problem-solving skills
        with object-oriented programming experience in C++. Passionate about
        clean code, performance optimization, and continuous learning.
      </p>

    </div>
  </div>

</section>
