@theme {
  --color-main-100: #d8e6fd;
  --color-main-200: #b1cdfb;
  --color-main-300: #89b4fa;
  --color-main-400: #629bf8;
  --color-main-500: #3b82f6;
  --color-main-600: #2f68c5;
  --color-main-700: #234e94;
  --color-main-800: #183462;
  --color-main-900: #0c1a31;
}

/* --color-main-100: #facce4;
  --color-main-200: #f599c8;
  --color-main-300: #f066ad;
  --color-main-400: #eb3391;
  --color-main-500: #e60076;
  --color-main-600: #b8005e;
  --color-main-700: #8a0047;
  --color-main-800: #5c002f;
  --color-main-900: #2e0018; */
