<div
  class=" dark:text-white text-gray-800 flex flex-col h-full w-full mt-3 bg-white dark:bg-[#1F262F] border-3 rounded-3xl hover:shadow-xl hover:shadow-main-400 border-main-500 text-center py-10 px-6 cursor-pointer">
  <div class="">
    <span class="inline-flex justify-center items-center w-18 h-18 rounded-full border
       border-main-500  hover:scale-120 hover:bg-main-500 group transition-all duration-300"><i [class]="service.icon"
        class=" text-main-500 fa-xl group-hover:text-white"></i></span>
  </div>
  <h2 class="text-2xl text-main-500 py-8 font-semibold h-27">{{service.title}}</h2>
  <p class="text-xl flex-grow">{{service.description}}</p>
</div>
