<form action="" [formGroup]="contactForm" (ngSubmit)="sendData()">
  <h2
    class="text-2xl sm:text-3xl lg:text-4xl pb-4 sm:pb-6 text-main-600 dark:text-main-400 font-bold"
  >
    Get In Touch
  </h2>

  <div class="flex flex-col">
    <input
      type="hidden"
      name="access_key"
      value="5d972dec-15f0-47f4-a5be-7540b0806513"
      formControlName="access_key"
    />

    <!-- Name -->
    <div class="relative z-0 w-full group mb-4 sm:mb-5">
      <input type="text" id="name" formControlName="name" class="peer input-form" placeholder=" " />
      <label for="name" class="label-form">
        <i class="fa-regular fa-user"></i>
        Enter Your Name
      </label>
    </div>

    <!-- Email -->
    <div class="relative z-0 w-full group mb-4 sm:mb-5">
      <input
        type="email"
        id="email"
        class="peer input-form"
        placeholder=" "
        formControlName="email"
      />
      <label for="email" class="label-form">
        <i class="fa-regular fa-envelope"></i>
        Enter Your Email
      </label>
    </div>

    <!-- Subject -->
    <div class="relative z-0 w-full group mb-4 sm:mb-5">
      <input
        type="text"
        id="subject"
        class="peer input-form"
        placeholder=" "
        formControlName="subject"
      />
      <label for="subject" class="label-form">
        <i class="fa-regular fa-pen-to-square"></i>
        Subject
      </label>
    </div>

    <!-- Message -->
    <div class="relative z-0 w-full group mb-5 sm:mb-6">
      <textarea
        formControlName="message"
        id="message"
        rows="4"
        placeholder=" "
        class="peer input-form resize-none sm:rows-5"
      ></textarea>
      <label for="message" class="label-form">
        <i class="fa-regular fa-comment-dots"></i>
        Write your message here...
      </label>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      [disabled]="loading"
      class="w-full md:w-fit md:self-end flex items-center cursor-pointer justify-center gap-2 bg-main-600 hover:bg-main-700 active:scale-95 disabled:opacity-70 disabled:cursor-not-allowed disabled:active:scale-100 text-white text-sm font-semibold px-6 sm:px-8 py-2.5 sm:py-3 rounded-base transition-all duration-300 shadow-md hover:shadow-main-600/30"
    >
      @if (!loading) {
        Send Message
        <i class="fa-solid fa-paper-plane text-xs"></i>
      } @else {
        Sending...
        <i class="fa-solid fa-spinner fa-spin text-xs"></i>
      }
    </button>
  </div>
</form>
